.App {
  text-align: center;
}

.box {
  width: 30px;
  height: 30px;
  border: solid black 1px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  margin: 20px;
}

